<form [formGroup]="BookingForm" (submit)="onSubmit()" style="background-color: green; height: 100%;">
  <div style="float: right;">
    <div class="example-button-container">
      <a href="https://mishqah.github.io/final-client-help/pages/request-booking.html"><span style="float: right;"
          class="material-icons help">
          help_outline
        </span></a>     
        <button type="button" routerLink='/ViewBooking' mat-raised-button style="background-color: gray; ">
          <mat-icon> keyboard_return</mat-icon>Back
        </button>
      <button mat-raised-button type="submit" style="background-color: gray;">
        Submit
      </button>
    </div>
  </div>
  <br>
  <div>
    <div class="card_hover">

      <h1 style="text-align: center;">Please select all the booking details</h1>
      <div style="text-align: center; color: black; " class="card-hover">
        <h4>Select Service type</h4>

        <mat-form-field appearance="fill">
          <mat-label style="color: black;">Hair, Nails,Massage</mat-label>
          <mat-select formControlName="TypeControl">
            <mat-option disabled>-Select a service type-</mat-option>
            <mat-option (click)="EnableForm()" *ngFor="let x of ServiceType" value={{x.TypeID}}>
              {{x.Name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="f.TypeControl.errors?.required && (f.TypeControl.touched || f.TypeControl.dirty)">Select a service type</mat-error>
          <mat-hint></mat-hint>
        </mat-form-field>


        <div>
          <h4>Select Service </h4>
          <mat-form-field appearance="fill">
            <mat-label style="color: black;">service for booking</mat-label>
            <mat-select name="ServiceID" formControlName="ServiceControl">
              <mat-option disabled>-Select a service-</mat-option>
              <mat-option (click)="EnableOptForm(x)" *ngFor="let x of Service | customFilter:TypesID"
                value={{x.ServiceID}}>
                {{x.Name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="f.ServiceControl.errors?.required && f.ServiceControl.touched">Select a service</mat-error>
          </mat-form-field>
          <span title="view service photo" (click)="ViewImage()" style="cursor: pointer;" class="material-icons"
            *ngIf="imageURL">camera_alt</span>
        </div>

        <p></p>

        <h4>Select Service option</h4>
        <mat-form-field appearance="fill">
          <mat-label style="color: black;">Long, short, Medium</mat-label>
          <mat-select (click)="checkOptions()" formControlName="OptionControl" name="OptionID" >
            <mat-option disabled>-Select a service option-</mat-option>
            <mat-option *ngFor="let x of ServiceOptions | optionsFilter:ServicesID" value={{x.OptionID}}>
              {{x.Name}}
            </mat-option>
            <mat-option *ngIf="(ServiceOptions | optionsFilter:ServicesID)?.length == 0">No Service Options Available</mat-option>
          </mat-select>
          <mat-error *ngIf="f.OptionControl.errors?.required">Select a service option</mat-error>
        </mat-form-field>

        <h4>Pick date and time for Appointment</h4>
        <mat-form-field color="accent" appearance="fill">
          <mat-label style="color: black;">Appointment date</mat-label>
          <input matInput [matDatepicker]="picker1" (dateInput)="EnableTimeForm($event.value)" [min]="MinDate"
            name="Date" formControlName="DateControl">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-error *ngIf="f.DateControl.errors?.required">An appointment date is required</mat-error> 
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label style="color: black;">Appointment time </mat-label>
          <mat-select name="StartTime" formControlName="TimeControl">
            <mat-option disabled>-Select appointment time-</mat-option>
            <mat-option *ngFor="let x of Times | timeFilter:selectedDate:toDate:toTime" value={{x.StartTime}}>
              {{x.StartTime}}
            </mat-option>
            <mat-option *ngIf="(Times | timeFilter:selectedDate:toDate:toTime)?.length == 0">No Times Available</mat-option>
          </mat-select>
          <mat-error *ngIf="f.TimeControl.errors?.required">An appointment time is required</mat-error>
        </mat-form-field>


        <mat-accordion class="text-center" style="background-color: white; margin: auto">

          <mat-expansion-panel style="background-color: whitesmoke;" [expanded]="step === 1" (opened)="setStep(1)"
            hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title style="color: black;">
                Click to enter booking notes<span class="material-icons">
                  description
                  </span>
              </mat-panel-title>
              <mat-panel-description style="color: black;">
                
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field class="example-full-width">
              <mat-label style="color: black;">Notes:</mat-label>
              <textarea id="notes" formControlName="NotesControl" matInput placeholder="Ex. It makes me feel..." name="Notes"
                ></textarea>
            </mat-form-field>

          </mat-expansion-panel>

        </mat-accordion>

      </div>
    </div>
  </div>
</form>

<div id="myModal" class="modal">
  <span class="close" (click)="closeModal()">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>