<div class=row>
  <div class="col-7">
  <h1 style="text-align: right">Booking Report <button mat-raised-button style="float: right;" routerLink="/reports"
      style="background-color:forestgreen">
      <mat-icon style="color:white">keyboard_return</mat-icon> Back
    </button></h1>
  </div>
  <div class="col-5">
    <a href="https://mishqah.github.io/user-manual-admin-help/pages/reports--generate-sales-reports.html
    "><span style="float: right;" class="material-icons help">
  help_outline
</span></a>
  </div>
</div>

<div class="row">
  <div class="col-4">
    <div class="forms">
      <form [formGroup]="ReportForm">
        <mat-form-field appearance="fill">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [max]="maxDate" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Start date">
            <input matEndDate formControlName="end" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

          <mat-error *ngIf="ReportForm.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
          <mat-error *ngIf="ReportForm.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
          <mat-error *ngIf="(ReportForm.controls.start.errors?.required && 
            (ReportForm.controls.start.touched || ReportForm.controls.start.dirty))">Date range is required</mat-error>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" (click)="SubmitRequest()" title="generate report data">Generate Report</button>
          <button mat-raised-button (click)="convetToPDF()" [hidden]="generated" title="download the report data">Download PDF</button>
        </div>
      </form>
    </div>
  </div>

  <div class="col-8">
    <div class="preview">
      <div class="sale" id="sale">
        <div class="row">
          <div class="col-8">
            Company: Exhilaration hair & beauty salon
            <br>
            Contact Details:0785109494
            <br>
            Address:Clifton Avenue Lyttleton Centurion
            <br>
            Date:2020/07/14
            <br>
            Prepared for: Manager
            <br>
          </div>
          <div class="col-4">
            <img src="assets/images/logo.png" alt="logo.png" style="width: 150px; height: 150px;" />
          </div>
        </div>
        <p>
          -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        </p>
        <h3 style="text-align: center;">BOOKING SUMMARY REPORT</h3>
        <p>
          -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        </p>
        <strong>PROJECT SUMMARY</strong>
        <p>
          -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        </p>

        <div class="bottom">
          <strong>DESCRIPTION</strong>
          <p>The purpose of this report is to show the trend so far in the company.
            This will show how often individual employees are being booked.</p>
          <p>
            -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
          </p>
          <b>TABLE SUMMARY</b>
          <p *ngIf="chart==null" class="content">******CHART DATA******</p>
          <br>
          <div *ngIf="statuses?.length>0">
            <br>
            <div class="productsTable">
              <div>
                <label><strong>Booking Statuses</strong></label>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Booking Status</th>
                      <th>Number Of Bookings</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let y of statuses">
                      <td>{{y.Name}}</td>
                      <td>{{y.Count}}</td>
                    </tr>
                    <!-- <tr>
                <td><strong>Total</strong></td>
                <td></td>
                <td>100%</td>
              </tr> -->
                  </tbody>
                </table>
                <br><br>
              </div>
            </div>
          </div>

          <br>
          <label><strong>Services Booked</strong></label>
          <div *ngIf="services?.length>0">
            <div class="productsTable">
              <div>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Service</th>
                      <th>Number Of Bookings</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let y of services">
                      <td>{{y.Service}}</td>
                      <td>{{y.NumBookings}}</td>
                    </tr>
                    <!-- <tr>
                      <td><strong>Total</strong></td>
                      <td></td>
                      <td>100%</td>
                    </tr> -->
                  </tbody>
                </table>
                <br>
              </div>
            </div>
          </div>

          <div *ngIf="packages?.length>0">
            <div class="productsTable">
              <div>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Package Name</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let y of packages">
                      <td>{{y.Name}}</td>
                      <td>{{y.Total}}</td>
                    </tr>
                    <!-- <tr>
                      <td><strong>Total</strong></td>
                      <td></td>
                      <td>100%</td>
                    </tr> -->
                  </tbody>
                </table>
                <br>
              </div>
            </div>
          </div>

          <strong>CONCLUSION</strong>
          <p>This gives a broad overview of the supplier orders, quantity of the items ordered and items orderd</p>
        </div>
      </div>
    </div>
  </div>
</div>