<div class="container" style="background-color: white">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h3 style="text-align: center">Edit Company Information</h3>
  
          <form
            [formGroup]="editcompanyForm"
            ngSubmit="UpdateCompany()"
            style="background-color: white"
          >
            <div class="form-group">
              <strong>Name:</strong>
              <input class="form-control" type="text" name={{editObject.Name}}>
            </div>
            <br />
            <div class="form-group">
              <strong>Address:</strong>
              <input class="form-control" type="text" name={{editObject.Address}}>
            </div>
            <br />
            <div class="form-group">
              <strong>Contact Number:</strong>
              <input class="form-control" type="text" name={{editObject.ContactNo}}>
            </div>
            <br />
            <div style="float: right">
              <button class="btn btn-light">Cancel</button>
              <button class="btn btn-success">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  