<a href="https://mishqah.github.io/user-manual-admin-help/pages/sale.html"><span style="float: right;"
        class="material-icons help">
        help_outline
    </span></a>
<div class="container-fluid pt-2">
    <div class="row">
        <div class="col-md-8">
            <div class="card border-secondary">
                <div class="card-body">
                    <h4 class="card-title">Customer Details</h4>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <strong>SaleID: </strong>
                                <span name="SaleID">{{clientObject.SaleID}}</span>
                            </div>
                            <div class="form-group">
                                <strong>Name: </strong>
                                <span name="ClientName">{{clientObject.ClientName}}
                                    {{clientObject.ClientSurname}}</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <strong>Email: </strong>
                                <span name="ClientEmail">{{clientObject.ClientEmail}}</span>
                            </div>
                            <div class="form-group">
                                <strong>Contact: </strong>
                                <span name="ClientContact">{{clientObject.ClientContact}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-secondary mt-2">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between">Sale Details</h4>
                    <div class="row">
                        <div class="form-group" style="padding-left: 10px;">
                            <strong>Payment Type: </strong>
                            <span name="SaleID">{{clientObject.PaymentType}}</span>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="25%">Product Name</th>
                                    <th width="25%">Price(R)</th>
                                    <th width="25%">Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of clientObject.Products">
                                    <td scope="row">
                                        {{item.Name}}</td>
                                    <td>{{item.Price | currency:'ZAR':'symbol-narrow'}}</td>
                                    <td>{{item.Quantity}}</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><strong>Total</strong></td>
                                    <td style="border-bottom-style: double;">{{total | currency:'ZAR':'symbol-narrow'}}
                                    </td>
                                </tr>
                                <tr *ngIf="clientObject.Change">
                                    <td></td>
                                    <td><strong>Change</strong></td>
                                    <td style="border-bottom-style: double;">{{clientObject.Change | currency:'ZAR':'symbol-narrow'}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group" *ngIf="clientObject.Payment" style="padding-left: 10px;">
                    <strong>Staus: </strong>
                    <span name="SaleID">Paid</span>
                </div>                
            </div>

        </div>
        <div class="col-md-4">
            <button type="submit" name="" class="btn btn-secondary btn-lg btn-block" (click)="generatePDF()">Open
                Invoice</button>
        </div>
    </div>
</div>