
<div class="w-90">
<div class="heading">
    <h1>Delete Product</h1>
    <a href="https://mishqah.github.io/user-manual-admin-help/pages/product.html"><span style="float: right;" class="material-icons help">
        help_outline
      </span></a>
</div>
    
<div class="contents">
    <h2>Product details</h2>

    <div class="details">
        <div class="inputs">
            <label ><b>Name:</b> {{formData.Name}}</label>    
            <label ><b>Description:</b> {{formData.Description}}</label>  
            <label ><b>Quantity:</b> {{formData.QuantityOnHand}}</label>    
            <label ><b>Price:</b> R{{formData.Price}}</label>  
            <label ><b>Supplier:</b> {{formData.Supplier}}</label>    
            <label ><b>Category:</b> {{formData.Category}}</label>    
        
        </div>
    </div>
</div>

<div class="buttons">
    <button class="btn btn-light" (click)="Cancel()" title="Cancel deletion process">Cancel</button>
    <button class="btn btn-danger" (click)="Delete()" title="finalise deletion process">Delete</button>
</div>
</div>
