<div class="heading">
    <h1>Delete Service Option</h1>
</div>
    
<div class="contents">
    <h2>Service Option details</h2>

    <div class="details">
        <div class="inputs">
            <label for="ServiceName"><b>Name:</b> Long</label>    
            <label for="Description"><b>Duration:</b> +5 min</label>  
            <label for="TypeName"><b>Price:</b> +R15</label>    
        </div>
    </div>
</div>

<div class="buttons">
    <button class="btn btn-light">Cancel</button>
    <button class="btn btn-danger" (click)="Delete()">Delete</button>
</div>
