
<div >
    <div style="float: right;">
        <a routerLink='/register'><button  mat-raised-button style="background-color: green; width:99%" >
            <mat-icon> keyboard_return</mat-icon>
            Back
        </button></a>
        <br>
        <br>
        <button mat-raised-button style="background-color: green; align-content: center;width:99% " >
            <mat-icon>clear</mat-icon>
            Delete
        </button>
        <br>
        <br>
        <a routerLink='/register'><button mat-raised-button style="background-color: green; width:99%" >
            <mat-icon>send</mat-icon>
            Send
        </button></a>
    </div>

    <div style="text-align: center; color: black;" class="card-hover">
        <article  class="c-card c-card--center">
    

            <div class="c-card__body">
                <h1 >
                    Current Booking request details
                </h1>

              <h2 class="c-card__title">
               Service type:
              </h2>
<br>
              <h2 class="c-card__title">
                Service:
              </h2>
              <br>
              <h2 class="c-card__title">
                Service option:
              </h2>
              <br>
              <h2 class="c-card__title">
                Employee for Service:
              </h2>
              <br>
              <h2 class="c-card__title">
                Appointment Date:
              </h2>
              <br>
              <h2 class="c-card__title">
                Appointment Date:
              </h2>
<br>
<br>
       <h1>Other person details</h1>
                <h3 class="c-card__subtitle">Name</h3>
                <h3 class="c-card__subtitle">Surname</h3>
                <h3 class="c-card__subtitle">Contact details</h3>
                <h3 class="c-card__subtitle">Email</h3>
              
            </div>
        
            <footer style="align: center;" class="c-card__footer">
              
                    <button mat-raised-button style="background-color: green; align-items: center; " >
                      Okay
                  </button>

           
            </footer>
        
          </article>
    </div>

