<div class="heading">
    <h1>{{title}}</h1>
</div>
    
<form #form=ngForm method="POST" (submit)="onSubmit(form)">
<div class="contents">
    <h2>Enter Product details</h2>

    <div class="details">
        <input [(ngModel)]="service.ProductForm.ProductID" name="ProductID" hidden>

        <div class="inputs">
            <label for="Name">Name</label>    
            <input type="text" name="Name" placeholder="Enter Product Name" [(ngModel)]="service.ProductForm.Name">
        </div>
        <div class="inputs">
            <label for="Description">Description</label>  
            <textarea type="text" name="Description" placeholder="Enter product description" 
            [(ngModel)]="service.ProductForm.Description"></textarea>
        </div>
        <div style="float: right;">
            <img [src]="imageURL" style="height: 200px; width: 200px;">
            <input type="file" (change)="onFileChanged($event)" accept="Image/*" hidden  #fileInput [(ngModel)]="service.ProductForm.Photos[0].Photo">
            <br>
            <button class="btn btn-success" type="button" (click)="fileInput.click()"><mat-icon>add_a_photo</mat-icon>Add Photo</button>
        </div>
    </div>
    <div class="details">
        <div class="inputs">
            <label for="QuantityOnHand">Quantity</label>    
            <input type="number" name="QuantityOnHand" placeholder="Enter quantity" [(ngModel)]="service.ProductForm.QuantityOnHand">
        </div>
        <div class="inputs">
            <label for="Price">Price (R)</label>  
            <input type="number" name="Price" placeholder="Enter Price" [(ngModel)]="service.ProductForm.Price">
        </div>
    </div>
    <div class="details">
        <div class="inputs">
            <label for="Supplier">Supplier</label>    
            <select name="SupplierID" required [(ngModel)]="service.ProductForm.SupplierID">
                <option label="- Select Supplier -"></option>
                <option *ngFor="let supp of SupplierList" value="{{supp.SupplierID}}">{{supp.Name}}</option>
              </select>
        </div>
        <div class="inputs">
            <label for="Category">Category</label>    
            <select name="CategoryID" required [(ngModel)]="service.ProductForm.CategoryID">
                <option label="- Select Product Category -"></option>
                <option *ngFor="let cat of categoryList" value="{{cat.CategoryID}}">{{cat.Category}}</option>
              </select>
        </div>       
    </div>
</div>

<div class="buttons">
    <button class="btn btn-light" type="button" (click)="Cancel()">Cancel</button>
    <button class="btn btn-success" type="submit">Save</button>
</div>
</form>