<div class="heading">
    <h1>Edit Service Option</h1>
</div>
    
<div class="contents">
    <h2>Enter Service Option details</h2>

    <div class="details">
        <div class="inputs">
            <label for="TypeName">Name</label>    
            <input type="text" id="TypeName" placeholder="Example: Long or Short">
        </div>
        <div class="inputs">
            <label for="TypeName">Duration</label>    
            <input type="text" id="TypeName" placeholder="Example: +5min">
        </div>
    </div>
    <div class="details">
        <div class="inputs">
            <label for="TypeName">Price</label>    
            <input type="text" id="TypeName" placeholder="Enter Price">
        </div>
    </div>
</div>

<div class="buttons">
    <button class="btn btn-light">Cancel</button>
    <button class="btn btn-success" (click)="Save()">Save</button>
</div>
