<div class="jumbotron" style="background-color: whitesmoke;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3 style="text-align: center;">Forgot Password</h3>
        
          <p><small>Reset password by entering your username. A reset link will be sent to your email address</small></p>
          <br>
          <div class="form-group">
            <label>Enter username</label>
            <input
              type="text"
              class="form-control"
              #username
            />
          </div>
          <br>
          <div style="text-align: center;">
            <div class="form-group">
              <button
                (click)="onSubmit(username.value)"
                class="btn btn-primary"
                style="color: white; background-color: green;">
                Submit
              </button>
              <a routerLink="/login">
                <button
                  type="button"
                  class="btn btn-primary"
                  style="color: white; background-color: green;">
                  Cancel
                </button>
              </a>
            </div>
          </div>
       
      </div>
    </div>
  </div>
</div>
