.app-supplier {
    width: 80%;
    margin: 20px auto;
    
  }

.overdue
{
  background-color: #f8d7da;
  border-bottom: 2px solid white;
}

  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }

  .disabled {
    pointer-events: none;
  }
  
  table{
    width: 100%;
    
   }
  
  .md-display-3{
    position: relative;
    margin: 20px auto;
    width: 70%;
  }
  
   
   
   .mat-column-BookingID {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 10% !important;
     width: 10% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
   
   .mat-column-Client {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 15% !important;
     width: 15% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
   
   .mat-column-Service {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 15% !important;
     width: 15% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
   
   .mat-column-Price {
    word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 15% !important;
     width: 15% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }

   .mat-column-Status {
    word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 15% !important;
     width: 15% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
  
  
   
   .mat-column-Date {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 10% !important;
     width: 10% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
  
   }
  
   .search-div{
    margin: 10px;
      }
      .search-form-field{
          width: 60%;
          margin-left: 10px;
          padding: 5px 10px;
          background-color: #f5f5f5;
          border-radius: 5px;
          }
          .search-form-field div.mat-form-field-underline {
              display: none;
          }
          .search-form-field div.mat-form-field-infix{
              border-top: 0px;
          }
          .search-form-field div.mat-form-field-wrapper{
            padding-bottom: 0px;
        }
        .search-form-field div.mat-form-field-suffix button{
            height: 32px;
            width: 32px;
        }

#tablerow :hover
{
  cursor: pointer;
}

.change
{
  color: red;
}
 