<!-- <div style="width: 100%; height: 100%">
  <div style="background-color: whitesmoke" class="card_hover">
    <h1 style="text-align: center">Service Packages</h1>

    <div class="row">
      <div class="card column" style="width: 20rem" id="child" *ngFor="let item of List | async">
        <div
          class="card-body"
          style="text-align: center"
          
        >
          <strong style="font-size: larger" class="card-title">{{
            item.Name
          }}</strong>
          <p class="card-text" style="display: none;">PackageID: {{item.PackageID }}</p>
          <p class="card-text" style="display: none;">ServiceID: {{item.ServiceID }}</p>
          <p class="card-text">Quantity : {{ item.Quantity }}</p>
          <p class="card-text">R{{ item.Price }}</p>
          <p class="card-text">Valid for {{ item.Duration }} months</p>
          <a (click)="getID(item.PackageID)" class="btn btn-success"
            >Activate for client</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
 -->

 <div class="row">
  <div class="col-12">

  <h1 class="text-center">Activate Service Package
  <button mat-raised-button style="float: right;" routerLink="/employeehome" style="background-color:forestgreen" >
    <mat-icon style="color:white">keyboard_return</mat-icon> Back
  </button>
</h1>

<span style="float: right;" routerLink="/#" class="material-icons help">
  help_outline
</span>
  </div>
</div>

<mat-horizontal-stepper style="width: 90%; margin:auto" linear #stepper>
  <mat-step label="Service Packages" [completed]="false">
    <form class="justify-content-center">
      <div style="width: 80%; height: 100%; margin:auto">
        <div style="background-color: white;" class="card_hover">
          <h2 style="text-align: center;">
            Select service package
          </h2> 
          <div style="text-align: center;">
            <body>
              <div class="topnav" style="float: right;">
                <input
                  type="text"
                  id="myInput"
                  (keyup)="myFunction($event)"
                  placeholder="Search..."
                />
              </div>
              <table id="myTable" class="table table_hover">
                <tr class="header">
                  <th style="width: 60; display: none;" >PackageID</th>
                  <th style="width: 60;" >Name</th>
                  <th style="width: 60;" >Duration</th>
                  <th style="width: 60;" >Quantity</th>
                  <th style="width: 60;" >Price (R)</th>
                  <th style="width: 60;"></th>
                </tr>
    
                
                <tr *ngFor="let item of PackageList | async">
                  <td style="display: none;">{{item.PackageID}}</td>
                  <td>{{ item.Name }}</td>
                  <td>{{ item.Duration }}</td>
                  <td>{{ item.Quantity }}</td>
                  <td >{{ item.Price }}</td>
                  <td>
                    <button class="btn btn-warning" (click)="SelectPackage(item, stepper)">Select Package</button>
                  </td>
                  </tr>       
              </table>
              <br />
            </body>
            
          </div>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step  label="Clients" [completed]="false">
    <form class="justify-content-center">
      <div style="width: 80%; height: 100%; margin:auto">
        <div style="background-color: white;" class="card_hover">
          <h2 style="text-align: center;">
            Select Client
          </h2> 
          <div style="text-align: center;">
            <body>
              <div class="topnav" style="float: right;">
                <input
                  type="text"
                  id="myInput"
                  (keyup)="myFunction($event)"
                  placeholder="Search..."
                />
              </div>
              <table id="myTable" class="table table_hover">
                <tr class="header">
                  <th style="width: 60; display: none;" name="ClientID">ClientID</th>
                  <th style="width: 60;" name="Name">Name</th>
                  <th style="width: 60;" name="Surname">Surname</th>
                  <th style="width: 60;" name="ContactNo">Contact Number</th>
                  <th style="width: 60;" name="Email">Email Address</th>
                  <th style="width: 60;"></th>
                </tr>
    
                
                <tr *ngFor="let item of ClientList | async">
                  <td name="ClientID" style="display: none;">{{item.ClientID}}</td>
                  <td name="Name">{{ item.Name }}</td>
                  <td name="Surname">{{ item.Surname }}</td>
                  <td name="ContactNo">{{ item.ContactNo }}</td>
                  <td name="Email">{{ item.Email }}</td>
                  <td>
                    <button class="btn btn-warning" (click)="SelectClient(item, stepper)">Select Client</button>
                  </td>
                  </tr>            
              </table>
              <br />
            </body>
            
          </div>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step label="Confirm payment">  
    <h2 style="text-align: center">Confirm Payment</h2>
    <div class="row justify-content-center">
      <div class="col-3" *ngIf="SelectedClient">
        <h4>Client Details</h4>
          <div>
            <strong>Name:</strong
            ><label name="Name">{{ SelectedClient.Name }}</label>
          </div>
          <div>
            <strong>Surname:</strong
            ><label name="Surname">{{ SelectedClient.Surname }}</label>
          </div>
          <div>
            <strong>Contact Number:</strong
            ><label name="ContactNo">{{ SelectedClient.ContactNo }}</label>
          </div>
          <div>
            <strong>Email Address:</strong
            ><label name="Email">{{ SelectedClient.Email }}</label>
          </div>           
      </div>
      <div class="col-3" *ngIf="SelectedPackage">
          <h4>Package Details</h4>
            <div>
              <strong>Name:</strong
              ><label name="Name">{{ SelectedPackage.Name }}</label>
            </div>
            <div>
              <strong>Duration:</strong
              ><label name="Surname">{{ SelectedPackage.Duration }}</label>
            </div>
            <div>
              <strong>Quantity:</strong
              ><label name="ContactNo">{{ SelectedPackage.Quantity }}</label>
            </div>
            <div>
              <strong>Price (R):</strong
              ><label name="Email">R {{ SelectedPackage.Price }}</label>
            </div>
      </div>
    </div>
    <br>
    <div style="text-align: center;">
      <mat-form-field appearance="fill">
        <mat-label>Payment Type</mat-label>
        <mat-select [formControl]="TypeControl" required>
          <mat-option
            *ngFor="let option of PaymentType | async"
            value="{{option.PaymentTypeID}}">
            {{option.Type}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="TypeControl.errors?.required && (TypeControl.touched ||TypeControl.dirty)">Select Payment Type</mat-error>
      </mat-form-field>
    </div>
    <br>
    <div style="text-align: center;">
      <button mat-button class="btn btn-success" (click)="Activate(stepper)">Activate</button>
      <button mat-button="btn btn-success" (click)="reset(stepper)">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>