<h1 class="md-display-3">Supplier Orders</h1>


<div class="mat-elevation-z8 app-placeorder">
  <a [routerLink] = "['/orderform']">
    <button mat-raised-button title="Make new supplier order" style="background-color:forestgreen" ><mat-icon style="color:white">add</mat-icon> Add  
    </button></a>
    <mat-form-field>
     <mat-label>Search</mat-label>
     <input matInput (keyup)="applyFilter($event)" #input>
   </mat-form-field>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <!-- Select Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef ><mat-checkbox></mat-checkbox></th>>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox></mat-checkbox>{{row.select}}</td>
    </ng-container>
    
      
      
    
      <!-- OrderID Column -->
      <ng-container matColumnDef="OrderID">
        <th mat-header-cell *matHeaderCellDef> OrderID </th>
        <td mat-cell (click)="ViewOrder(row)" *matCellDef="let row"> {{row.OrderID}} </td>
      </ng-container>
  
      <!-- SupplierID Column -->
      <ng-container matColumnDef="Supplier">
         <th mat-header-cell *matHeaderCellDef> Supplier </th>
         <td mat-cell  *matCellDef="let row"> {{row.Supplier}} </td>
      </ng-container>
  

      <!--OrderDetails Column -->
      <ng-container matColumnDef="Total items">
        <th mat-header-cell *matHeaderCellDef> Total items</th>
        <td mat-cell  *matCellDef="let row"> {{row.StockItemLines.length}} </td>
     </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="Price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let row"> R{{row.Price}} </td>
     </ng-container>
    
      <!-- Date Column -->
      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell  *matCellDef="let row"> {{row.Date | date:"dd/MM/yy"}} </td>
     </ng-container>

     <ng-container matColumnDef="viewdetail">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>View Details</th>
      <td mat-cell *matCellDef="let row">
      <button style="background-color:teal" title="View order details" (click)="ViewOrder(row)"><mat-icon style="color:white">content_paste</mat-icon></button>
      </td >
    </ng-container>

     <!-- Return Supplier Order -->
      <ng-container matColumnDef="ReturnOrder">
       <th mat-header-cell *matHeaderCellDef></th>
       <td mat-cell *matCellDef="let row">
        <button style="background-color:red" title="Cancel supplier order" *ngIf="row.Received == false" (click)="onDelete(row.OrderID)"><mat-icon style="color:white">delete_sweep</mat-icon></button>
       </td >
     </ng-container>
   
     <ng-container matColumnDef="ReceiveStock">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
       <button style="background-color:forestgreen" title="Recieve stock" *ngIf="row.Received == false" (click)="ReceiveStock(row)"><mat-icon style="color:white">receipt</mat-icon></button>
      </td >
    </ng-container>
     

     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   </table>
   <mat-card *ngIf="dataSource?.data.length == 0" class="text-center">no supplier orders made</mat-card>
      
   

    
      <a [routerLink] = "['/supplier']">
        <button mat-raised-button style="background-color:red" ><mat-icon style="color:white">undo</mat-icon>Return
       </button></a>
</div>