<div class="heading">
    <h1>Services</h1>
    <button class="btn btn-success" title="Add Service" style="width: 35px; height: 35px; margin-left: 10px;">+</button>
</div>
    
    <div class="contents">
        <ul>
            <li>
                <div class="icon"><mat-icon>face</mat-icon></div>
                <div class="typeinfo">
                    <div class="name">Hair Cut</div>
                    <div class="sub-text">
                        <div>Service Type: Hair</div>
                        <div>Price: R100</div>
                    </div>
                </div>
                <div class="buttons">
                <a [routerLink]="['/services/EditService']" class="btn btn-success" ><mat-icon inline=true>edit</mat-icon></a>
                <a [routerLink]="['/services/DeleteService']" class="btn btn-danger" ><mat-icon inline=true>delete</mat-icon></a>
                </div>
            </li>
            <li>
                <div class="icon"><mat-icon>face</mat-icon></div>
                <div class="typeinfo">
                    <div class="name">Wash and Blow</div>
                    <div class="sub-text">
                        <div>Service Type: Hair</div>
                        <div>Price: R100</div>
                    </div>
                </div>
                <div class="buttons">
                <a [routerLink]="['/services/EditService']" class="btn btn-success"><mat-icon inline=true>edit</mat-icon></a>
                <a [routerLink]="['/services/DeleteService']" class="btn btn-danger" ><mat-icon inline=true>delete</mat-icon></a>
                </div>
            </li>
            <li>
                <div class="icon"><mat-icon>face</mat-icon></div>
                <div class="typeinfo">
                    <div class="name">Color</div>
                    <div class="sub-text">
                        <div>Service Type: Hair</div>
                        <div>Price: R100</div>
                    </div>
                </div>
                <div class="buttons">
                <a [routerLink]="['/services/EditService']" class="btn btn-success"><mat-icon inline=true>edit</mat-icon></a>
                <a [routerLink]="['/services/DeleteService']" class="btn btn-danger" ><mat-icon inline=true>delete</mat-icon></a>
                </div>
            </li>
            <li>
                <div class="icon"><mat-icon>face</mat-icon></div>
                <div class="typeinfo">
                    <div class="name">Brazillian</div>
                    <div class="sub-text">
                        <div>Service Type: Hair</div>
                        <div>Price: R100</div>
                    </div>
                </div>
                <div class="buttons">
                <a [routerLink]="['/services/EditService']" class="btn btn-success"><mat-icon inline=true>edit</mat-icon></a>
                <a [routerLink]="['/services/DeleteService']" class="btn btn-danger" ><mat-icon inline=true>delete</mat-icon></a>
                </div>
            </li>
        </ul>
    </div>
    
    
