<div class="row">
  <div class="col-12">

  <h1 class="text-center">Manage Users
  <button mat-raised-button style="float: right;" routerLink="/employeehome" style="background-color:forestgreen" >
    <mat-icon style="color:white">home</mat-icon> Home
  </button>
</h1>
</div>
<div style="width: 100%; height: 100%">
  
      <div style="text-align: center;" >
      <div class="row">
        <div class="card col" style="width: 20rem">
          <div class="card-body" style="text-align: center">
            <strong style="font-size: larger" class="card-title"> </strong>
            <p class="card-text">Admin</p>
            <a routerLink="/admin" class="btn btn-success">View Admins</a>
          </div>
        </div>
  
        <div class="card col" style="width: 20rem" >
          <div class="card-body" style="text-align: center">
            <strong style="font-size: larger" class="card-title"> </strong>
            <p class="card-text">Employee</p>
            <a routerLink="/employee" class="btn btn-success">View Employees</a>
          </div>
        </div>

        <div class="card col" style="width: 20rem" >
          <div class="card-body" style="text-align: center">
            <strong style="font-size: larger" class="card-title"> </strong>
            <p class="card-text">Client</p>
            <a routerLink="/client" class="btn btn-success">View Client</a>
          </div>
        </div>
      </div>
      
  
      </div>
    </div>
  </div>
  