<div style="width: 100%; height: 100%">
    <div style="background-color: white" class="card_hover">
      <h1 style="text-align: center">Manage Staff</h1>
  
      <div style="text-align: center;" >
      <div class="row">
        <div class="card col" style="width: 20rem">
          <div class="card-body" style="text-align: center">
            <strong style="font-size: larger" class="card-title"> </strong>
            <p class="card-text">Admin</p>
            <a routerLink="/admin" class="btn btn-success">View Admins</a>
          </div>
        </div>
  
        <div class="card col" style="width: 20rem" >
          <div class="card-body" style="text-align: center">
            <strong style="font-size: larger" class="card-title"> </strong>
            <p class="card-text">Employee</p>
            <a routerLink="/employee" class="btn btn-success">View Employees</a>
          </div>
        </div>
  
      </div>
  
      </div>
    </div>
  </div>
  