
<a href="https://mishqah.github.io/user-manual-admin-help/pages/stock.html"><span style="float: right;" class="material-icons help">
  help_outline
</span></a>
<div class="main-div">
  <form class="example-form" [formGroup]="writeOffForm"  (submit)="AddWriteOff()">
      <mat-form-field class="example-full-width">
        <mat-label>Perform Write Off</mat-label>
        <input matInput value disabled>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <textarea formControlName="description" matInput></textarea>
      </mat-form-field>         

      <div style="background-color: #fafafabb;" class="example-full-width">
        <mat-label>Add Stock Items <button class="btn btn-success btn-sm" type="button" (click)="AddForm()">+</button></mat-label>                
      </div>
      <br>             
      <ng-container formArrayName="writeofflines">
        <div *ngFor="let x of writeOffForm.get('writeofflines')['controls']; let j = index" >
          <div [formGroupName]="j">
            <table class="example-full-width" cellspacing="0">
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                  <mat-label>Select Stock Item</mat-label>
                  <mat-select formControlName="itemid">
                    <mat-option *ngFor="let x of StockList" (click)="setValidator(j, x)"  value="{{x.ItemID}}">{{x.Name}}</mat-option>
                  </mat-select>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width">
                  <mat-label>Quantity</mat-label>
                  <input (keypress)="omit_special_num_char($event)" matInput min=0 type="number" matInput formControlName="quantity">
                  <mat-error>Write off quantity may not exceed current quantity in stock</mat-error>
                  </mat-form-field></td>
                  <button type="button" *ngIf="writeOffForm.get('writeofflines')['controls'].length>1" class="btn btn-danger" (click)="DeleteForm(j)"><span class="glyphicon glyphicon-trash"></span></button>
                </tr>
                <tr>
                  <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>Reason</mat-label>
                    <input matInput type="text" matInput formControlName="reason">
                    </mat-form-field></td>
                </tr>
              </table>
            </div>
            </div>
        </ng-container>
          
          

        <div class="side-div">
          <a [routerLink] = "['/stock']">
          <button mat-raised-button style="background-color:red" ><mat-icon style="color:white">cancel</mat-icon>Cancel
         </button></a>
          
          <button mat-raised-button style="background-color:forestgreen;">
            <mat-icon style="color:white">done</mat-icon> Save
          </button>
        </div>
  </form>      
</div>
    
      