<div class="heading">
    <h1>Delete Service Option</h1>
</div>
    
<div class="contents">
    <h2>Service Option details</h2>

    <div class="details">
        <div class="inputs">
            <p for="ServiceName"><b>Name: </b> {{formData.Name}}</p>    
            <p for="Description"><b>Duration: </b>{{formData.Duration}} mins</p>  
        </div>
    </div>
</div>

<div class="buttons">
    <button class="btn btn-light" (click)="Cancel()" title="cancel service option deletion">Cancel</button>
    <button class="btn btn-danger" (click)="Delete(formData.OptionID)" title="confirm service option deletion">Delete</button>
</div>
