<div class="heading">
    <h1 class="col-10">Service Packages
    <a [routerLink]="['/services/CreateServicePackage']" class="btn btn-success" title="Add Service Package" style="width: 35px; height: 35px; margin-left: 10px;">+</a>
    </h1>
    <div class="col-2">
        <button mat-raised-button style="float: right;" routerLink="/employeehome" style="background-color:forestgreen" >
            <mat-icon style="color:white">home</mat-icon> Home
        </button>
    </div>
</div>

    <div class="contents">
        <ul>
            <li *ngFor="let x of myServicePackageList | async">
                <div class="icon"><mat-icon>face</mat-icon></div>
                <div class="typeinfo">
                    <div class="name">{{x.Name}}</div>
                    <div class="sub-text">
                        <div>Price: {{x.Price | number:'1.2-2'}}</div>
                        <div>Quantity: {{x.Quantity}} uses</div>
                    </div>
                </div>
                <div class="buttons">
                <button class="btn btn-danger" (click)="Delete(x.PackageID)"><mat-icon inline=true>delete</mat-icon></button>
                </div>
            </li>
            <li class="text-center" *ngIf="(myServicePackageList | async)?.length == 0">
                <p>No services packages added</p>
            </li>
        </ul>
    </div>
    
    
