<div class="jumbotron" style="background-color: white;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3 style="text-align: center;">Change Password</h3>

        <form [formGroup]="PasswordForm" (submit)="changePassword()">

          <div class="form-group"
            [ngClass]="{'has-error': f.oldPassword.errors && (f.oldPassword.touched ||f.oldPassword.dirty)}">
            <label>Enter old password</label>
            <input id="username" (keypress)="omit_special_char($event)" type="password" formControlName="oldPassword"
              class="form-control"
              [ngClass]="{'has-error': f.oldPassword.errors && (f.oldPassword.touched ||f.oldPassword.dirty)}" />

            <span class="help-block" *ngIf="f.oldPassword.errors &&(f.oldPassword.touched ||f.oldPassword.dirty)">
              <span *ngIf="f.oldPassword.errors.required">
                Old Password is required
              </span>
              <span *ngIf="f.oldPassword.errors.maxlength">
                Password may not exceed 300 characters
              </span>
              
            </span>
          </div>


          <div class="form-group" [ngClass]="{
            'has-error':
            f.newPassword.errors &&
              (f.newPassword.touched ||
              f.newPassword.dirty)
          }">
            <label>Enter New Password</label>
            <input id="password" type="password" formControlName="newPassword" class="form-control" [ngClass]="{
                'has-error':
                f.newPassword.errors &&
                  (f.newPassword.touched ||
                  f.newPassword.dirty)
              }" />
            <span class="help-block" *ngIf="f.newPassword.errors &&
              (f.newPassword.touched ||
              f.newPassword.dirty)">
              <span *ngIf="f.newPassword.errors.required">
                Please enter a new password
              </span>
              <span *ngIf="f.newPassword.errors.maxlength">
                Password may not exceed 300 characters
              </span>

              <span *ngIf="f.newPassword.errors.minlength">
                Password needs to be a minimum of 6 characters
              </span>
              <span *ngIf="f.confirmPassword.errors.mustMatch">
                Passwords do not match
              </span>
            </span>
          </div>

          <div class="form-group"
            [ngClass]="{'has-error':f.confirmPassword.errors &&(f.confirmPassword.touched ||f.confirmPassword.dirty)}">
            <label>Confirm New Password</label>
            <input id="cpassword" type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{
                'has-error':
                f.confirmPassword.errors &&
                  (f.confirmPassword.touched ||
                  f.confirmPassword.dirty)}" />
            <span class="help-block"
              *ngIf="f.confirmPassword.errors &&(f.confirmPassword.touched ||f.confirmPassword.dirty)">
              <span *ngIf="f.confirmPassword.errors.required">
                Enter new confirm password
              </span>
              <span *ngIf="f.confirmPassword.errors.maxlength">
                Password may not exceed 300 characters
              </span>
              <span *ngIf="f.confirmPassword.errors.minlength">
                Password needs to be a minimum of 6 characters
              </span>
              <span *ngIf="f.confirmPassword.errors.mustMatch">
                Passwords do not match
              </span>
            </span>
            <br>

            <div style="text-align: center;">
              <div class="form-group">
                <button title="Confirm password change process" type="submit" class="btn btn-success" style="color: white;">Submit</button>
                <button (click)="goHome()" type="button" class="btn btn-danger" style="color: white;">Cancel</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>