<div class="heading">
    <h1>Delete Product</h1>
</div>
    
<div class="contents">
    <h2>Product details</h2>

    <div class="details">
        <div class="inputs">
            <label for="ServiceName"><b>Name:</b> Shampoo</label>    
            <label for="Description"><b>Description:</b> removes 99% dandruff</label>  
            <label for="TypeName"><b>Quantity:</b> 50</label>    
            <label for="STName"><b>Price:</b> R100</label>  
            <label for="TypeName"><b>Supplier:</b> Hair Providers</label>    
            <label for="TypeName"><b>Category:</b> Hair</label>    
        
        </div>
    </div>
</div>

<div class="buttons">
    <button class="btn btn-light">Cancel</button>
    <button class="btn btn-danger" (click)="Delete()">Delete</button>
</div>
