
<mat-drawer-container class="example-container" fullscreen autosize hasBackdrop="true">
  <mat-drawer #drawer mode="over">
    <div id="sidebar">
      <li style="background-color: #333131; padding:2px 0; width:100%; height:64px">
        <button mat-icon-button class="example-icon"(click)="drawer.toggle()">
          <mat-icon style="color:white">menu</mat-icon>
        </button>
        <img src="assets/images/logo.png" alt="logo.png" style="width: 50px; height:50px;"/></li>
      <ul>
        <!-- client sidnav stuff -->
        <a routerLink="/home" *ngIf="RoleID == null || RoleID == '1' " (click)="drawer.close()" ><li> Home</li></a>
        <a routerLink="/employeehome" *ngIf="RoleID == '2' || RoleID == '3'" (click)="drawer.close()" ><li> Home</li></a>
        <a routerLink="/ViewServices" *ngIf="RoleID == null || RoleID == '1' " (click)="drawer.close()" ><li> View Services</li></a>
        <a routerLink="/browse" *ngIf="RoleID == null || RoleID == '1' " (click)="drawer.close()" ><li>View Products</li></a>
        <a routerLink="/ViewBooking" *ngIf="RoleID == '1'" (click)="drawer.close()" ><li>Bookings</li></a>
        <a routerLink="/Orders" *ngIf="RoleID == '1'" (click)="drawer.close()"><li>View Sales</li></a>

        <!-- admin sidnav stuff -->
        <a routerLink="/schedule" *ngIf="RoleID == '2'" (click)="drawer.close()" ><li> View Schedule</li></a>
        <a routerLink="/services" *ngIf="RoleID == '2'" (click)="drawer.close()"><li>Services</li></a>
        <a routerLink="/client" *ngIf="RoleID == '2'" (click)="drawer.close()"><li>Client</li></a>
        <a routerLink="/reports" *ngIf="RoleID == '2'" (click)="drawer.close()" ><li> Reports</li></a>
        <a routerLink="/ClientProfile" *ngIf="RoleID == '2'" (click)="drawer.close()" ><li> Settings</li></a>

        
        <li (click)="logout(); drawer.close()" *ngIf="RoleID != null">Logout</li>
        <li *ngIf="RoleID == null" (click)="login(); drawer.close()">Login</li>
        

      </ul>
    </div>
  </mat-drawer>
  
    <mat-toolbar style="background-color: #333131">
      <button mat-icon-button class="example-icon"(click)="drawer.toggle()">
        <mat-icon style="color:white">menu</mat-icon>
      </button>
      <img src="assets/images/logo.png" alt="logo.png" style="width: 50px; height:50px;"/>
      <span class="example-spacer"></span>
  
      
      <div class="icons">
        
      <a routerLink='/basket'><button style="color: white;" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"  >
        <mat-icon *ngIf="showBadges" [matBadge]="api.badgeCount" [matBadgeHidden]="api.badgeCount == 0">shopping_cart</mat-icon>
        
      </button></a>
      
      <!-- <a routerLink='/ViewBooking'><button style="color: white;" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>notifications_none</mat-icon>
      </button></a> -->
      
      <a (click)="login()"><mat-icon style="color: white; font-size: 30px;">account_circle</mat-icon></a>
      
      
      <!-- <span ngbDropdown >
        <span ngbDropdownToggle ><mat-icon style="color: white; font-size: 30px;">account_circle</mat-icon></span>
        <ul ngbDropdownMenu >
          <li>
              <div class="navbar-login">
                  <div class="row">
                      <div class="col-lg-4">
                          <p class="text-center">
                              <span class="glyphicon glyphicon-user icon-size"></span>
                          </p>
                      </div>
                      <div class="col-lg-8">
                          <p class="text-left"><strong>Mahesh</strong></p>
                          <p class="text-left small">justdemo@gmail.com</p>
                          <p class="text-left">
                              <a href="#" class="btn btn-primary btn-block btn-sm">Logout</a>
                          </p>
                      </div>
                  </div>
              </div>
          </li>
          <li class="divider"></li>
          <li>
              <div class="navbar-login navbar-login-session">
                  <div class="row">
                      <div class="col-lg-12">
                          <p>
                            <a href="#" class="btn btn-primary btn-block">My Profile</a>
                              <a href="#" class="btn btn-danger btn-block">Change Password</a>
                          </p>
                      </div>
                  </div>
              </div>
          </li>
      </ul>
      </span> -->

      </div> 
    </mat-toolbar>
    <div class="page-wrapper">
    <router-outlet></router-outlet>
  </div>

  

</mat-drawer-container>


<!--
  **this is the sidebar for client-side 

  <div id="sidebar" *ngIf="role==client">
    <ul>
      <li>Main Menu</li>
      <li>Bookings</li>
      <li>Reports</li>
      <li>Services</li>
    </ul>
  </div>
  
-->


