
#sidebar
{

    width: 200px;
    height: 100%;  
    background: #35b729;
    /* background: #333131; */
}

svg 
{
    width:50;
    height:50;
    animation: draw 1s linear infinite;
}

@keyframes draw {
    50%
    {
        opacity: 0;
    }
    
}

.page-wrapper
{
    min-height: 100%;
    background-color: #F0F0F0;
}

.help
{
    float: right; 
    margin: 10px; 
    font-size: 30px; 
    color: white;
    cursor: pointer;
}

#img:hover
{
    cursor: pointer;
}

#sidebar ul li
{     
    color: white;
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid white ;
    height: 64px;
}

#sidebar ul li:hover
{
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

#sidebar a
{
    text-decoration: none;
    color: white;
}

.example-spacer {
    flex: 1 1 auto;
  }

li
{
    list-style: none;
}

.mat-icon {
    vertical-align: middle;
 }

a :hover
{
    cursor: pointer
}

p.small 
{
    line-height: 1;
}
  

/*@charset "utf-8";**/
body {
  font-family: 'Open Sans', 'sans-serif';
  max-width: 100%;
}
.navbar-default{background:#3285D1;border-color: #3285D1;}
.navbar-default .navbar-nav > li > a{color:#FFF;}
.nav > li > a{margin:15px; font-size: 17px; color:#FFF;}
.nav .open > a, .nav .open > a:hover, 
.nav .open > a:focus,
.nav > li > a:hover, .nav > li > a:focus{background-color:transparent !important;}

.navbar-brand{    
    margin: 15px !important;
    padding: 13px !important;
    color: #fff !important;
    font-size: 2em !important;
    font-weight: bold !Important;
    }
    
.navbar-toggle{margin-top:20px !important;}
.dropdown-menu{background:#fff !important;}
.navbar-login
{
    width: 350px;
    padding: 10px;
    padding-bottom: 0px;
}

.nabar-login
{
    width: 350px;
    padding: 10px;
    padding-bottom: 0px;
}


.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

 .dropdown-toggle::after {
    display:none;
    content:initial
 }

 .my-overlay {
    left: 0 !important;
    top: 0 !important;
    z-index: 10000 !important;
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    background-color: rgba(0,0,0,0.9) !important;
    cursor: pointer !important;
    visibility: visible !important;
    transition: visibility 0s, opacity 0.4s linear !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: wait !important;
}
.my-overlay i.fa.fa-spinner.fa-spin, .spinner-big {
    font-size: 100px !important;
}