<mat-toolbar style="background-color: #333131">
    <button mat-icon-button class="example-icon" (click)="toggleSidebar()">
      <mat-icon style="color:white">menu</mat-icon>
    </button>
    <img src="assets/images/logo.png" alt="logo.png" style="width: 50px; height:50px;"/>
    <span class="example-spacer"></span>

    <span class="example-spacer"></span>
    <div style="padding: 10px">
    <a><mat-icon style="color: white; font-size: 35px;">account_circle</mat-icon></a>
  </div>
</mat-toolbar>

<div id="sidebar">
    <ul>
      <a routerLink="/services"><li> Products</li></a>
      <a routerLink="/services"><li>Bookings</li></a>
      <a routerLink="/services"><li>Service Types</li></a>
      <a routerLink="/services"><li>Service Types</li></a>
      <a routerLink="/Login"><li>Login</li></a>
    </ul>
</div>

<!--
  **this is the sidebar for client-side 

  <div id="sidebar" *ngIf="role==client">
    <ul>
      <li>Main Menu</li>
      <li>Bookings</li>
      <li>Reports</li>
      <li>Services</li>
    </ul>
  </div>
  
-->


<router-outlet></router-outlet>