.footer
{  
    background-color: #333131;
    width: 100%;
    position: relative;
    bottom:0;
}



.menu-items
{
    height: 200px;
    background-color: grey;
}

.homepage
{
    overflow: hidden;
    min-height: 100%;
}

ul
{
    list-style: none;
}

