<div class="heading">
    <h1>Edit Product</h1>
</div>
    
<div class="contents">
    <h2>Enter Product details</h2>

    <div class="details">
        <div class="inputs">
            <label for="ServiceName">Name</label>    
            <input type="text" id="ServiceName" placeholder="Enter Product Name">
        </div>
        <div class="inputs">
            <label for="Description">Description</label>  
            <textarea type="text" name="Description" placeholder="Enter product description"></textarea>
        </div>
    </div>
    <div class="details">
        <div class="inputs">
            <label for="TypeName">Quantity</label>    
            <input type="number" id="TypeName" placeholder="Enter quantity">
        </div>
        <div class="inputs">
            <label for="STName">Price (R)</label>  
            <input type="number" name="STName" placeholder="Enter Price">
        </div>
    </div>
    <div class="details">
        <div class="inputs">
            <label for="TypeName">Supplier</label>    
            <select name="cars" id="cars" required>
                <option label="- Select Supplier -"></option>
                <option value="">Hair Supplies</option>
                <option value="">Nail Supplies</option>
                <option value="">Massage Supplies</option>
              </select>
        </div>
        <div class="inputs">
            <label for="TypeName">Category</label>    
            <select name="cars" id="cars" required>
                <option label="- Select Product Category -"></option>
                <option value="">Hair</option>
                <option value="">Nail</option>
                <option value="">Massage</option>
              </select>
        </div>
    </div>
</div>

<div class="buttons">
    <button class="btn btn-light">Cancel</button>
    <button class="btn btn-success" (click)="Save()">Save</button>
</div>
