<div class="heading">
    <h1 class="col-10">Service Options
    <button class="btn btn-success" title="Add Service Option" style="width: 35px; height: 35px; margin-left: 10px;" (click)="AddServiceOption()">+</button>
    </h1>
    <div class="col-2">
        <button mat-raised-button style="float: right;" routerLink="/employeehome" style="background-color:forestgreen" >
            <mat-icon style="color:white">home</mat-icon> Home
        </button>
    </div>
</div>
    
    <div class="contents">
        <ul>
            <li *ngFor ="let x of myServiceOptionsList | async">
                <div class="icon"><mat-icon>face</mat-icon></div>
                <div class="typeinfo">
                    <div class="name">{{x.Name}}</div>
                    <div class="sub-text">
                        <div>Duration: +{{x.Duration}}mins</div>
                    </div>
                </div>
                <div class="buttons">
                <a class="btn btn-success" (click)="EditServiceOption(x)"><mat-icon inline=true>edit</mat-icon></a>
                <a class="btn btn-danger" (click)="DeleteServiceOption(x)" ><mat-icon inline=true>delete</mat-icon></a>
                </div>
            </li>
        </ul>
    </div>
    
    
