<div class="heading">
    <h1>Delete Service</h1>
</div>
    
<div class="contents">
    <h2>Service details</h2>

    <div class="details">
        <div class="inputs">
            <label for="ServiceName"><b>Name:</b> Hair Cut</label>    
            <label for="Description"><b>Description:</b> Hair cut, either long or short hair</label>  
            <label for="TypeName"><b>Duration:</b> 20 mins</label>    
            <label for="STName"><b>Price:</b> R100</label>  
        </div>
    </div>
</div>

<div class="buttons">
    <button class="btn btn-light">Cancel</button>
    <button class="btn btn-danger" (click)="Delete()">Delete</button>
</div>
