<div class="row">
  <h1 class="col-10">Basket Items</h1>
  <div style="float: right;" class="example-button-container">
    <button (click)="cancel()" mat-raised-button style="background-color: green;">
      <mat-icon> keyboard_return</mat-icon>
      Back
    </button>

    <a routerLink='/browse'><button mat-raised-button style="background-color: green;">
        <mat-icon> add</mat-icon>
        Add
      </button></a>
    <a href="https://mishqah.github.io/user-manual-client/pages/view-basket.html"><span style="float: right;"
        class="material-icons help">
        help_outline
      </span></a>
  </div>
</div>

<br>

<div class="row" style="padding: 5px" *ngIf="basket; else EmptyBasket;">
  <div class="col-9">
    <div *ngFor="let line of basket; " class="c-card c-card--wide col-12" width="75%;">
      <div class="c-card-flip__flipper ">
        <!-- <header class="c-card__header">
          
        </header> -->

        <div class="c-card__body w-100 row">
          <div class="col-4">
            <img src="{{line.Product.Photo[0].Image}}" class="c-card__image" alt="Product Image" />
          </div>
          <div class="col-8">
            <h2 class="c-card__title">
              Category {{line.Product.Category}}
              <label style="float:right">
                Price: {{line.Product.Price | currency:'ZAR':'symbol-narrow'}}
              </label>
            </h2>
            <h2 class="c-card__title">
              Name: {{line.Product.Name}}
            </h2>
            
            <p></p>
            <label *ngIf="line.Product.QuantityOnHand>10"><strong>In Stock</strong></label>
            <label style="color: red;"
              *ngIf="line.Product.QuantityOnHand<=10 && line.Product.QuantityOnHand >0">{{line.Product.QuantityOnHand}}
              item's left in Stock</label>
            <label style="color: red;" *ngIf="line.Product.QuantityOnHand <= 0">Out of stock</label>
            <br>
            <label>Description:</label>
            <label class="c-card__subtitle">{{line.Product.Description}}</label>
            <br>
            <br>
            <div style="position:absolute;bottom:0; right: 0">
              <p style="color: gray;">Item Subtotal: {{line.Quantity * line.Product.Price | currency:'ZAR':'symbol-narrow'}}</p>
            </div>
          </div>
        </div>

        <footer class="c-card__footer">
          Qty <input value="{{line.Quantity}}" style="width:100px" (keypress)=" omit_special_num_char($event)"
            type="number" min=0 max="{{line.Product.QuantityOnHand}}" (change)='updateBasket($event,line)'>
          <button mat-raised-button style="background-color: green;" (click)="remove(line)">
            <mat-icon> remove_circle</mat-icon>
            Remove
          </button>
        </footer>
      </div>
    </div>
  </div>

  <div class="col-3 " style="margin-top:20px; float: right">
    <div style="background-color: green; " class="c-card--center">
      <div class="c-card__body">
        <h2 class="c-card__title">
          Cart Summary
        </h2>
        <!-- <p class="c-card__subtitle">
          center modifier
        </p> -->

        <p class="c-card__intro">
          Total:({{pro}} item)
        </p>
        <p class="c-card__intro">
          R: {{total}}
        </p>
      </div>

      <footer class="c-card__footer" title="Submit basket for sale">
        <button mat-raised-button style="background-color: grey; width: 80%;" [disabled]="!basket"
          (click)="SubmitBasket()">
          Submit
        </button>
      </footer>
    </div>
  </div>
</div>



<ng-template #EmptyBasket>
  <div class="row justify-content-center">
    <div class="c-card c-card--wide justify-content-center">
      <div class="c-card-flip__flipper ">
        <header class="c-card__header">
        </header>

        <div style="padding:30px;">
          <h2 style="text-align: center;">Your cart is empty</h2>
        </div>



        <footer class="c-card__footer">
          <button mat-raised-button style="background-color: green;" routerLink="/browse">
            <mat-icon>arrow_right_alt</mat-icon>
            Browse Products
          </button>
        </footer>
      </div>
    </div>
  </div>
</ng-template>