<div style="width: 100%; height: 100%;">
    <div
      style="background-color: whitesmoke; text-align: center;"
      class="card_hover"
    >
    <h1 style="text-align: center;">Payments  <button mat-raised-button style="float: right;" routerLink="/employeehome" style="background-color:forestgreen" >
      <mat-icon style="color:white">home</mat-icon> Home
  </button></h1>
    
  <span style="float: right;" routerLink="/#" class="material-icons help">
    help_outline
  </span>

  <div class="card" title="" id="div" style="width: 350px; height:150px;" >
    <div class="card-body" style="text-align: center">
      <strong style="font-size: larger" class="card-title"> </strong>
      <p class="card-text"><mat-icon >shop</mat-icon></p>
      <a routerLink="/getbookings" title="Process client booking payments"><h4><b>Bookings</b></h4></a>
    </div>
  </div>
  <div class="card" id="div" style="width: 350px; height:150px;" >
    <div class="card-body" style="text-align: center">
      <strong style="font-size: larger" class="card-title"> </strong>
      <p class="card-text"><mat-icon >shopping_cart</mat-icon></p>
      <a routerLink="/salepayment" title="Process client sale payments"><h4><b>Sale</b></h4></a>
    </div>
  </div>
  

   
</div>
