<div class="heading">
    <h1>{{title}}</h1>
</div>

<form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
<div class ="contents">
    <h2>Select Service Type</h2>
    
    <div class="form-group" [ngClass]="{'has-error': serviceForm.get('typeid').errors && 
        (serviceForm.get('typeid').touched || serviceForm.get('typeid').dirty)}">
      <select name="TypeID" class="form-control" formControlName="typeid">
        <option value="" disabled>- Select Service Type -</option>
        <option *ngFor="let x of TypeList | async" value="{{x.TypeID}}">{{x.Name}}</option>
      </select>
    </div>
</div>
    
<div class="contents">
    <h2>Enter Service details</h2>
    
    <div class="details">
        <div class="form-group">
            <label for="Name">Name</label>    
            <input type="text" class="form-control" name="Name" formControlName="name" placeholder="Enter Service Name">
        </div>
        <div class="form-group">
            <label for="Description">Description</label>  
            <textarea type="text" class="form-control" rows="1" cols="21" name="Description" formControlName="description" placeholder="Enter text..."></textarea>
        </div>
    </div>
    <div class="details">
        <div class="form-group">
            <label for="Duration">Duration (in minutes)</label>    
            <input type="number" class="form-control" name="Duration" formControlName="duration"
             placeholder="Example: 15" 
             max="120">
        </div>
        <ng-container formArrayName="sprice">
        <div class="form-group"  *ngFor="let x of serviceForm.get('sprice')['controls']; let j = index" [hidden]="serviceForm.get('options')['controls'].length>0">
            <div [formGroupName]="j">
            <label for="Price">Price (R)</label> 
            <input type="number" class="form-control" name="price" formControlName="price" placeholder="Enter Price">
            </div>
        </div>
        </ng-container>
    </div>
    
</div>

<div class="contents">
    <div >
        <h2>Add Service Options
            <button class="btn btn-success btn-sm" type="button" title="Add Service Option" (click)="AddForm()">
                +
            </button>
        </h2>
          
    </div>

    <ng-container formArrayName="options" >
    <div class="form-gorup" *ngFor="let opps of serviceForm.get('options')['controls']; let j=index">
    <div [formGroupName]="j" class="details">
        <div >
            <label [attr.for]="'option'">Select Service Option</label>    
            <select formControlName="optionid" class="form-control" name= "option">
                <option value="" disabled>- Select Service Option -</option>
                <option *ngFor="let x of OptionsList | async" value="{{x.OptionID}}">{{x.Name}}</option>
            </select>
        </div>
        <ng-container formArrayName="serviceprices">
            <div  *ngFor="let x of opps.get('serviceprices')['controls']; let k = index">
                <div [formGroupName]="k">
                <label for="Price">Price (R)</label> 
                <input type="number" class="form-control" name="price" formControlName="price" placeholder="Enter Price">
                </div>
            </div>
            </ng-container>   
        <div >
            <label>ㅤ</label>
            <button class="btn btn-danger btn-sm" type="button" title="Remove Service Option" (click)="removeOption(j)" >
            <span  class="glyphicon glyphicon-trash"></span></button> 
        </div>       
    </div>
    </div>
    </ng-container>
    
</div>

<div class="buttons">
    <button class="btn btn-light" type="button" (click)="Cancel()">Cancel</button>
    <button class="btn btn-success" type="submit" [disabled]="!serviceForm.valid">Save</button>
</div>
  
</form>