.app-sale {
  width: 90%;
  margin: 20px auto;
  
}

table {
    width: 100%;
}

.md-display-3{
  position: relative;
  margin: 20px auto;
  width: 90%;
}

.mat-raised-button .matBadge {
  top: unset;
  right: unset;
  position: relative;
}

.mat-column-saleid
{
  max-width: 40px;
}

.mat-column-client
{
  max-width: 100px;
}

.mat-column-saletype
{
  max-width: 70px;
}

.mat-column-paymenttype
{
  max-width:80px;
}

.mat-column-reminder
{
  max-width: 60px;
}

.mat-column-pickup
{
  max-width: 50px;
}

.mat-column-viewdetail
{
  max-width: 50px;
}

.mat-column-cancel
{
  max-width: 50px;
}