<div class="heading">
    <h1>Delete Service</h1>
</div>
    
<div class="contents">
    <h2>Service details</h2>

    <div class="details">
        <div class="inputs">
            <span ><b>Name:</b> {{formData.Name}}</span>    
            <br>
            <span ><b>Description:</b> {{formData.Description}}</span> 
            <br> 
            <span ><b>Duration:</b> {{formData.Duration}}</span>   
            <br> 
            <span *ngIf="formData.ServicePrices != null" ><b>Price:</b> {{formData.ServicePrices[0].Price}}</span>  
            <br>
            <div *ngIf="formData.ServiceTypeOptions != null">
            <label>Service Options:</label>    
                <ul *ngFor="let items of formData.ServiceTypeOptions">
                    <li>{{items.Option}}: R{{items.ServicePrices[0].Price}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="buttons">
    <button class="btn btn-light" (click)="Cancel()" title="cancel service deletion">Cancel</button>
    <button class="btn btn-danger" (click)="Delete()" title="concfirm service deletion">Delete</button>
</div>
