 <div style="background-color: white" class="card_hover">
    <div style="float: right" class="example-button-container"></div>
    <!-- <h1 style="text-align: center">Admin Homepage!</h1> -->

    <mat-card>
      <mat-card-title>Exhiliration hair & beauty salon</mat-card-title>
      <mat-card-subtitle>Quality hair because we care</mat-card-subtitle>
    </mat-card>

    <mat-card style="height: 100%; background-color: whitesmoke">
      <mat-card-title style="margin-bottom: 10px;">{{(User | async)?.Name}} {{(User | async)?.Surname}}</mat-card-title>
      <mat-card-title style="margin-bottom: 10px;">{{(User | async)?.Email}}</mat-card-title>
      <mat-card-title style="margin-bottom: 10px;">{{(User | async)?.ContactNo}}</mat-card-title>
      <mat-card-subtitle>Welcome to your profile</mat-card-subtitle>
    </mat-card>

    <mat-card *ngIf="RoleID == '2'">
      <div class="site-section">
        <div class="container">
          <div class="row"> 
            <div class="col-md-6 col-lg-3 text-center mb-5 mb-lg-5" >
              <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                <div class="h-50">
                  <span class="icon flaticon-razor display-3 text-primary mb-4 d-block"></span>
                  <h3 class="text-black h4">Bookings</h3>
                  <p>View booking calendar</p>
                </div>
                <div>
                  <p><strong class="font-weight-bold text-primary"> <a href="./schedule"><button class="btn btn-success">Bookings</button></a></strong></p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center mb-5 mb-lg-5" >
              <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                <div class="h-50">
                  <span class="icon flaticon-shave display-3 text-primary mb-4 d-block"></span>
                  <h3 class="text-black h4">Manage users</h3>
                  <p>Add or remove users from system</p>
                </div>
                <p><strong class="font-weight-bold text-primary"><a href="./staff"><button class="btn btn-success">Staff</button></a></strong></p>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center mb-5 mb-lg-5" >
              <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                <div class="h-50">
                  <span class="icon flaticon-shave display-3 text-primary mb-4 d-block"></span>
                  <h3 class="text-black h4">Products</h3>
                  <p>Add, update or delete products from the system</p>
                </div>
                <p><strong class="font-weight-bold text-primary"><a routerLink="/AdminProduct"><button class="btn btn-success">Products</button></a></strong></p>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center mb-5 mb-lg-5" >
              <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                <div class="h-50">
                  <span class="icon flaticon-shave display-3 text-primary mb-4 d-block"></span>
                  <h3 class="text-black h4">Services</h3>
                  <p>Manage services</p>
                </div>
                <p><strong class="font-weight-bold text-primary"><a href="./services"><button class="btn btn-success">Services</button></a></strong></p>
              </div>
            </div>
          </div>
      
          <div class="row"> 
            <div class="col-md-6 col-lg-3 text-center mb-5 mb-lg-5" >
              <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                <div class="h-50">
                  <span class="icon flaticon-razor display-3 text-primary mb-4 d-block"></span>
                  <h3 class="text-black h4">Stock</h3>
                  <p>Manage stock</p>
                </div>
                <p><strong class="font-weight-bold text-primary"> <a routerLink="/stock"><button  class="btn btn-success">Stock</button></a></strong></p>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center mb-5 mb-lg-5" >
              <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                <div class="h-50">
                  <span class="icon flaticon-location-pin display-3 text-primary mb-4 d-block"></span>
                  <h3 class="text-black h4">Payments</h3>
                  <p>Make payments for bookings, sales or service packages</p>
                </div>
                <a href="./payment"><button class="btn btn-success">Payments</button></a>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center mb-5 mb-lg-5" >
              <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                <div class="h-50">
                  <span class="icon flaticon-shave display-3 text-primary mb-4 d-block"></span>
                  <h3 class="text-black h4">Sales</h3>
                  <p>Manage client sales</p>
                </div>
                <p><strong class="font-weight-bold text-primary"><a href="./sale"><button class="btn btn-success">Sales</button></a></strong></p>
              </div>
            </div> 
            <div class="col-md-6 col-lg-3 text-center mb-5 mb-lg-5" >
              <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                <div class="h-50">
                  <span class="icon flaticon-razor display-3 text-primary mb-4 d-block"></span>
                  <h3 class="text-black h4">Reports</h3>
                  <p>View business reports</p>
                </div>
                <p><strong class="font-weight-bold text-primary"> <a routerLink="/reports"><button  class="btn btn-success">Reports</button></a></strong></p>
              </div>
            </div>           
          </div>
      
          <div class="row"> 
            <div class="col-md-6 col-lg-3 text-center mb-5 mb-lg-5" >
              <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                <div class="h-50">
                  <span class="icon flaticon-location-pin display-3 text-primary mb-4 d-block"></span>
                  <h3 class="text-black h4">Suppliers</h3>
                  <p>Manage suppliers and order stock</p>
                </div>
                <a href="./supplier"><button class="btn btn-success">Supplier</button></a>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center mb-5 mb-lg-5" >
              <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                <span class="icon flaticon-shave display-3 text-primary mb-4 d-block"></span>
                <h3 class="text-black h4">Service Packages</h3>
                <p>Activate service packages</p>
                <p><strong class="font-weight-bold text-primary"><a href="./spackage"><button class="btn btn-success">Activate Package</button></a></strong></p>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center mb-5 mb-lg-5" >
              <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                <span class="icon flaticon-shave display-3 text-primary mb-4 d-block"></span>
                <h3 class="text-black h4">Audit Trails</h3>
                <p>Monitor user activity</p>
                <p><strong class="font-weight-bold text-primary"><a href="./audits"><button class="btn btn-success">View Audit Trails</button></a></strong></p>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center mb-5 mb-lg-5" >
              <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                <span class="icon flaticon-shave display-3 text-primary mb-4 d-block"></span>
                <h3 class="text-black h4">Settings</h3>
                <p>Edit company info, timeslots and more</p>
                <p><strong class="font-weight-bold text-primary"><a href="./settings"><button class="btn btn-success">Settings</button></a></strong></p>
              </div>
            </div>
          </div>          
      </div>
      </div>
    </mat-card>
     
    <mat-card *ngIf="RoleID == '3'">
      <div class="site-section">
        <div class="container">
          <div class="row"> 
            <div class="col-md-6 col-lg-6 text-center mb-5 mb-lg-5" >
              <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                <div class="h-50">
                  <span class="icon flaticon-razor display-3 text-primary mb-4 d-block"></span>
                  <h3 class="text-black h4">Bookings</h3>
                  <p>View booking calendar</p>
                </div>
                <div>
                  <p><strong class="font-weight-bold text-primary"> <a href="./schedule"><button class="btn btn-success">Bookings</button></a></strong></p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 text-center mb-5 mb-lg-5" >
              <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                <div class="h-50">
                  <span class="icon flaticon-location-pin display-3 text-primary mb-4 d-block"></span>
                  <h3 class="text-black h4">Availability</h3>          
                  <p>Setup employee availablity schedule</p>
                </div>
                <a href="./available"><button class="btn btn-success">Availability</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>

    

    <mat-card>
      <mat-card-footer style="float: bottom">
        Exhiliration hair & beauty salon</mat-card-footer
      >
    </mat-card>
  </div>


