 <div class="serv">

 <div class="this" >    
   
       <a [routerLink]="['/services']">Service Types</a>
       <a [routerLink]="['/services/Services']">Services</a>
       <a [routerLink]="['/services/ServiceOptions']">Service Options</a>
       <a [routerLink]="['/services/ServicePackages']">Service Packages</a>
  </div>

<div class="that">
  <div class="w-100">
  <!-- <a href="https://mishqah.github.io/user-manual-admin-help/pages/service.html"><span style="float: right;" class="material-icons help">
    help_outline
  </span></a> -->
</div>
 <router-outlet></router-outlet>
</div>

</div>

