
<div >
    <div style="float: right;">
        <a routerLink='/register'><button  mat-raised-button style="background-color: green; width:99%" >
            <mat-icon> keyboard_return</mat-icon>
            Back
        </button></a>
        <br>
        <br>
        <button mat-raised-button style="background-color: green; align-content: center;width:99% " >
            <mat-icon>clear</mat-icon>
            Delete
        </button>
        <br>
        <br>
        <!-- <a routerLink='/register'><button mat-raised-button style="background-color: green; width:99%"  >
            <mat-icon>event_available</mat-icon>
            Accpet
        </button></a>
        <br>
        <br>
        <a routerLink='/register'><button mat-raised-button style="background-color: green; width:99%" >
            <mat-icon>auto_delete</mat-icon>
            Reject
        </button></a> -->
    </div>

    <div style="text-align: center; color: black;" class="card-hover">
        <article  class="c-card c-card--center">
    

            <div class="c-card__body">
                <label for=""><h1 >
                    Current Booking request details
                </h1></label>


                <label for=""><h2 class="c-card__title">
               Service type: 
              </h2></label>
<br>
<label for=""><h2 class="c-card__title">
                Service: Wash and Blow
              </h2></label>
              <br>
              <label for=""><h2 class="c-card__title">
                Service option: Long
              </h2></label>
              <br>
              <label for=""><h2 class="c-card__title">
                Employee for Service: Ally
              </h2></label>
              <br>
              <label for=""><h2 class="c-card__title">
                Appointment Date: 7/22/2020
              </h2></label>
              <br>
              <label for=""><h2 class="c-card__title">
                Appointment Time: 12:30-13:30
              </h2> </label>
              
            </div>
        
            <footer style="align-content: center;" class="c-card__footer">
              
                    <button mat-raised-button style="background-color: gray; align-items: center; color: black; " >
                      Okay
                  </button>

           
            </footer>
        
          </article>
    </div>

