<div class="jumbotron" style="background-color: whitesmoke">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-3">     
            <mat-card>
              <mat-card-header><h3 >Booking Payment</h3></mat-card-header>
              <mat-card-content>
                <div >
                  <strong>Client:</strong><label name="Payment" style="padding-right: 10px;">{{ bookingObject.Client }}</label>
                  <strong>Service:</strong><label name="Payment">{{ bookingObject.Service }}</label>
                  <br>
                  <strong>Price:</strong><label name="Payment"> R {{ bookingObject.Price }}</label>
                </div>
              
                <mat-form-field appearance="fill">
                  <mat-label>Payment Type</mat-label>
                  <mat-select [(ngModel)]="type">
                    <mat-option *ngFor="let option of List | async" value="{{ option.PaymentTypeID}}">{{option.Type}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-card-content>
              <mat-footer>
                <button (click)="onSubmit()" class="btn btn-success">Make payment</button>
                <a routerLink="/getbooking" class="btn btn-light">Cancel</a>
              </mat-footer>
            </mat-card>
        </div>
      </div>
    </div>
</div>